<center><img src="photo/calculator.svg">
  <h2>Engineer Calculator</h2>
  <h5>技術者計算機</h5></center>
<section class="container sticky">
  <form method="POST"><section class="row">
    <input type="text" class="column-60" name="calc" style="text-align:center" value= <%= params["calc"] %>>
    <button class="button column-20" type="submit">CALCULATE</button>
  </section></form>
  <%= "<h3>#{ @result[:convert_formula].to_s + " = " + @result[:value].to_s + " " + @result[:unit].to_s}</h3>" if @result %>
<% unless @error.empty? %>
  <% @error.each do |err, message| %>
    <center><h5 style="color:red"><%= "#{err.capitalize} : #{message}" %></h5></center>
    <% end %>
<% end %>
</section>
<% if @alter %>
<center>
  <h3 style="font-weight: bold;">Result of Convert Unit</h3>
  <p>単位換算結果</p>
  <% if @alter[:si_unit] %>
  <div class="container">
  <h4> (SI Unit) </h4>
  <% @alter[:si_unit].each do |unit_type, unit_name| %>
  <h4><%= unit_type %></h4>
  <table>
    <tr><td><h4><%= @result[:value].to_s if @result %></h4></td>
      <td><h4><%= unit_name %></h4></td></tr>
      <% @eng_calc.metric_prefix_unit.each do |prefix_name, val| %>
      <tr><td><%= sprintf("%.05g", @result[:value].to_f / val.to_f ) if @result %></td>
        <td><%= prefix_name + "  (" + unit_name + ")" %></td></tr>
        <% end %>
      </table>
      <% end %>
      <% end %>
      <% if @alter[:variable] %>
      <h4> (Variable Unit) </h4>
      <p>その他のUNIT</p>
      <% @alter[:variable].each do |unit_type, unit_name| %>
      <h4><%= unit_type %></h4>
      <table>
        <% if unit_name %>
        <% unit_name.each do |unit, value| %>
        <tr><td><%= sprintf("%.05g", value) %></td>
          <td><%= unit %></td></tr>
        <% end %>
        <% end %>
      </table>
      <% end %>
      </div>
      <% end %>
    </center>
    <% end %>
  </div>


  <center class="container">
    <h3 style="font-weight: bold;">Available unit</h3>
    <p>使用可能な単位<p>
    <h4>(SI Unit)</h4>
    <table class="unit">
    <% @eng_calc.si_base_unit.each do |name, unit| %>
      <tr>
        <td><a href= <%= "#" + "#{name}" %> ><%= name %></a></td>
        <td><%= unit %></td>
      </tr>
    <% end %>
    <% @eng_calc.si_derived_unit.each do |name, unit| %>
      <tr>
        <td><a href= <%= "#" + "#{name}" %> ><%= name %></a></td>
        <td><%= unit %></td>
      </tr>
    <% end %>
  </table>
  </center>
  <center class="container" style="padding-top:20pt">
    <% @eng_calc.variable_unit.each do |unit_name, unit_value| %>
    <table>
      <%= "<h4 id=#{unit_name}>" %><%= unit_name %></h4>
      <% unit_value.each do |unit, value| %>
      <tr>
        <td><%= unit %></td>
        <td><%= value %></td>
      <tr>
      <% end %>
    </table>
    <% end %>
  </center>
  <p style="padding-top:20pt;text-align:center"> Si unit Defintion refer to <a href="https://en.wikipedia.org/wiki/International_System_of_Units">wikipedia</a></p>
