<section class="calculator" id='top'>
  <h1 class="title">Engineer Calculator</h1>
  <h5 class="title">技術者計算機</h5>
  <i class="fas fa-calculator fa-3x"></i>
</section>
<section class="sticky">
  <form method="POST" action='/js_post'>
    <input type="text" name="calc" placeholder="Try!! 20cm*50^2s2" value= <%= params["calc"] %>>
    <button class="button" type="submit">= CALCULATE</button>
  </form>
</section>
<div id='new'></div>

<section class='unit si'>
    <h2><span>Available unit</span></h2>
    <p>使用可能な単位<p>
    <h3><i class="fas fa-balance-scale"></i> SI UNIT</h3>
    <table class='si'>
    <% @eng_calc.si_base_unit.each do |name, unit| %>
      <tr>
        <td><a href= <%= "#" + "#{name}" %> ><%= name %></a></td>
        <td><%= unit %></td>
      </tr>
    <% end %>
    <% @eng_calc.si_derived_unit.each do |name, unit| %>
      <tr>
        <td><a href= <%= "#" + "#{name}" %> ><%= name %></a></td>
        <td><%= unit %></td>
      </tr>
    <% end %>
  </table>
</section>
<section class='unit' style="padding-top:20pt">
  <h3><i class="fas fa-fill-drip"></i>  VARIABLE UNIT</h3>
  <% @eng_calc.variable_unit.each do |unit_name, unit_value| %>
  <table>
    <%= "<h4 id=#{unit_name} class='anchor'><span>#{unit_name}</span></h4>" %>
    <tr><td><%= @eng_calc.si_base_unit.merge(@eng_calc.si_derived_unit)[unit_name] %></td><td>1</td></tr>
    <% unit_value.each do |unit, value| %>
    <tr>
      <td><%= unit %></td>
      <td><%= value %></td>
      <tr>
    <% end %>
  </table>
  <% end %>
</section>
<p style="padding-top:20pt;text-align:center"> Si unit Defintion refer to <a href="https://en.wikipedia.org/wiki/International_System_of_Units">wikipedia</a></p>
